{
  "version" : "2018-05-29",
  "operation" : "UpdateItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($context.identity.username)
  },
  "update" : {
    "expression" : "set #name = :name, imageUrl = :imageUrl, backgroundImageUrl = :backgroundImageUrl, bio = :bio, #location = :location, website = :website, birthDate = :birthDate",
    "expressionNames" : {
      "#name" : "name",
      "#location" : "location",
    },
    "expressionValues" : {
      ":name" : $util.dynamodb.toDynamoDBJson($context.arguments.profile.name),
      ":imageUrl" : $util.dynamodb.toDynamoDBJson($context.arguments.profile.imageUrl),
      ":backgroundImageUrl" : $util.dynamodb.toDynamoDBJson($context.arguments.profile.backgroundImageUrl),
      ":bio" : $util.dynamodb.toDynamoDBJson($context.arguments.profile.bio),
      ":location" : $util.dynamodb.toDynamoDBJson($context.arguments.profile.location),
      ":website" : $util.dynamodb.toDynamoDBJson($context.arguments.profile.website),
      ":birthDate" : $util.dynamodb.toDynamoDBJson($context.arguments.profile.birthDate),
    }
  },
  "condition" : {
    "expression" : "attribute_exists(id)"
  }
}